@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  input[type="text"],
  textarea {
    @apply mt-1 block rounded-md border border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;
  }

  input[type="text"][disabled] {
    @apply bg-gray-100 text-gray-400;
  }

  .btn-primary {
    @apply mt-1 cursor-pointer px-6 py-3 bg-indigo-400 text-white rounded-md shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;
  }

  .btn-primary[disabled] {
    @apply bg-indigo-200;
  }

  .menu-item {
    @apply p-2 my-2 rounded text-gray-600 hover:bg-gray-100 hover:text-gray-800;
  }

  .menu-item.active {
    @apply bg-gray-100 text-gray-800;
  }

  .tooltip {
    @apply invisible absolute;
  }

  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }

  @keyframes animation {
    0% {
      stroke-dasharray: 1 98;
      stroke-dashoffset: -105;
    }
    50% {
      stroke-dasharray: 80 10;
      stroke-dashoffset: -160;
    }
    100% {
      stroke-dasharray: 1 98;
      stroke-dashoffset: -300;
    }
  }

  .loading {
    fill:transparent;
    stroke:#2f80ed;
    stroke-width: 7px;
    stroke-linecap: round;
    filter:url(#shadow);
    transform-origin: center;
    animation-name: animation;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier;
    animation-iteration-count: infinite;
  }

  @variants responsive {

  }
}

@layer utilities {


}
